{% extends "COMStaffBundle::staff.html.twig" %}

{% block title %}Personnel - absences{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}

    <section class="content-header">
      <h1>
        Liste des absences
      </h1>
	
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#list_tab" data-toggle="tab">Liste</a></li>
			  <li class="pull-right"><a href="{{ path('com_staff_add_absence') }}" class="btn btn-flat btn-danger"> Ajouter</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="list_tab"> 	
                    <div class="box-body">
                      <table class="datatable table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width:60px">Id</th>
                            <th style="width:60px">Image</th>
                            <th>Nom/Prénom</th>
                            <th>Interim</th>
                            <th>Date debut</th>
                            <th>date fin</th>
                            <th>motif</th>
                            <th style="max-width: 110px">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
						
						{% for absence in absences %}
							{% set employee = absence.employee %}
							{% set employeeinterim = absence.employeeinterim %}
							<tr>
								<td>{{ absence.id }}</td>
								<td>
									{# twig extension #}
									{% set personimage=getPersonimage(employee.person) %}										
									<img src="{{ personimage  | imagine_filter('40x40') }}" style="width:40px; height:40px;" />
								</td>
								<td>
									<a href="{{ path('com_staff_view_employee', {'employee_id': employee.id}) }}" title="afficher">
										{{ employee.person.name }} {{ employee.person.firstname }}
									</a>
								</td>
								<td>
									{% if employeeinterim is not null %}
										<a href="{{ path('com_staff_view_employee', {'employee_id': employeeinterim.id}) }}" title="afficher">
											{{ employeeinterim.person.name }} {{ employeeinterim.person.firstname }}
										</a>
									{% endif %}
								</td>
								<td>{{ absence.datebegin  | date('d/m/Y H:i')  }}</td>
								<td>{{ absence.dateend  | date('d/m/Y H:i')  }}</td>
								<td title="{{ absence.reason }}">{{ substrSpace(absence.reason, 30) }}</td>
								<td class="actions">
									<a href="{{ path('com_staff_view_absence', {'absence_id': absence.id}) }}" class="btn btn-flat btn-success btn-xs" title="afficher"><i class="fa fa-eye"></i></a>
									<a href="{{ path('com_staff_edit_absence', {'absence_id': absence.id}) }}" class="btn btn-flat btn-primary btn-xs" title="modifier"><i class="fa fa-pencil-square"></i></a>
									<span data-target="{{ path('com_staff_delete_absence', {'absence_id': absence.id}) }}" data-label="Voulez vous effectuer la suppression de l'absence lié à &quot;{{ absence.employee.person.name}}&quot;?" data-id="{{ absence.id}}" class="btn_delete_popup btn btn-flat btn-danger btn-xs" title="supprimer l'absence pour l'employé : {{ absence.employee.person.name}}"><i class="fa fa-times"></i></span>
								</td>
							</tr>
						{% endfor %}
                        
                        </tbody>
                        <tfoot>
                          <tr>
                            <th style="width:60px">Id</th>
                            <th style="width:60px">Image</th>
                            <th>Nom/Prénom</th>
                            <th>Interim</th>
                            <th>Date debut</th>
                            <th>date fin</th>
                            <th>motif</th>
                            <th style="max-width: 110px">Actions</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
{% endblock %}