{% extends "COMStaffBundle::staff.html.twig" %}

{% block title %}Personnel{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}
<section class="content-header">
  <h1>
	Liste des employés
  </h1>

</section>

<section class="content container-fluid">

  <div class="row">
	<div class="col-md-12">
	  <div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#list_tab" data-toggle="tab">Liste</a></li>
		  <li class="pull-right"><a href="{{ path('com_staff_add_employee') }}" class="btn btn-flat btn-danger"> Ajouter</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="list_tab"> 	
				<div class="box-body">
				  <table class="datatable table table-bordered table-striped">
					<thead>
					  <tr>
						<th style="width:60px">Id</th>
						<th style="width:60px">Image</th>
						<th>Nom/Prénom</th>
						<th>Poste</th>
						<th>n&deg; cin</th>
						<th>téléphone</th>
						<th>salaire (Ar)</th>
						<th>Présence</th>
						<th style="max-width: 110px">Actions</th>
					  </tr>
					</thead>
					<tbody>
					
					{% for employee in employees %}
						<tr>
							<td>{{ employee.id }}</td>
							<td>
								{# twig extension #}
								{% set personimage=getPersonimage(employee.person) %}										
								<img src="{{ personimage  | imagine_filter('40x40') }}" style="width:40px; height:40px;" />
							</td>
							<td>{{ employee.person.name }} {{ employee.person.firstname }}</td>
							<td>{{ employee.position }}</td>
							<td>{{ employee.person.cin }}</td>
							<td>{{ employee.person.phone }}</td>
							<td style="text-align:right">
								{% set salary=formatAmount(employee.salary) %}
								{{ salary }}
							</td>
							<td style="text-align:center">
								{% if isPresent(employee) %}
									<span class="greenpastille"></span>
								{% else %}
									<span class="redpastille"></span>
								{% endif %}
							</td>
							<td class="actions">
								<a href="{{ path('com_staff_view_employee', {'employee_id': employee.id}) }}" class="btn btn-flat btn-success btn-xs" title="afficher"><i class="fa fa-eye"></i></a>
								<a href="{{ path('com_staff_edit_employee', {'employee_id': employee.id}) }}" class="btn btn-flat btn-primary btn-xs" title="modifier"><i class="fa fa-pencil-square"></i></a>
								<span data-target="{{ path('com_staff_delete_employee', {'employee_id': employee.id}) }}" data-label="Voulez vous effectuer la suppression de &quot;{{ employee.person.name}}&quot; dans la liste des employés?" data-id="{{ employee.id}}" class="btn_delete_popup btn btn-flat btn-danger btn-xs" title="suppression de {{ employee.person.name}} dans la liste des employés"><i class="fa fa-times"></i></span>
							</td>
						</tr>
					{% endfor %}
					
					</tbody>
					<tfoot>
					  <tr>
						<th style="width:60px">Id</th>
						<th style="width:60px">Image</th>
						<th>Nom/Prénom</th>
						<th>Poste</th>
						<th>n&deg; cin</th>
						<th>téléphone</th>
						<th>salaire (Ar)</th>
						<th>Présence</th>
						<th style="max-width: 110px">Actions</th>
					  </tr>
					</tfoot>
				  </table>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
  
</section>
{% endblock %}