<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Soahita - Login</title>
	<link rel="icon" type="image/png" href="{{ asset('asset/image/logo30x30.png') }}" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{{ asset('asset/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('asset/bower_components/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('asset/bower_components/Ionicons/css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('asset/dist/css/AdminLTE.min.css') }}">
	<link rel="stylesheet" href="{{ asset('asset/plugins/iCheck/square/blue.css') }}">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
	<div class="login-logo">
		<a href="#"><b>soahita</b></a>
	</div>

	<div class="login-box-body">
		<p class="login-box-msg">Administrateur</p>

		<form method="post" action="{{ path('login_check') }}" >
			<div class="form-group has-feedback">
				<input type="text" id="username" name="_username" required="required" value="{{ last_username }}" class="form-control" placeholder="Username">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" id="password" name="_password" required="required"  class="form-control" placeholder="Password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			{% if error %}
				<div style="color:#d55;font-weight:bold;margin:10px 0; width: 100%; text-align:center">Verifiez bien votre login ou mot de passe.</div>
			{% endif %}
			<div class="row">
				<div class="col-xs-12 text-center">
					<button type="submit" class="btn btn-primary btn-flat">Connexion</button>          
				</div>
			</div>
		</form>
	</div>
	
	{% if messageNewPassword is defined %}
		<div style="color:#d55;font-weight:bold;margin:10px 0; width: 100%; text-align:center">{{ messageNewPassword | raw }}</div>
	{% endif %}
</div>

<script src="{{ asset('asset/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('asset/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
