{% extends "COMStaffBundle::staff.html.twig" %}

{% block title %}
	Profile : {{ user.person.name }} {{ user.person.firstname }}
{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}
 <section class="content-header">
      <h1>
        Profile : {{ user.person.name }} {{ user.person.firstname }}
      </h1>
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#detail_tab" data-toggle="tab">Détails</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="detail_tab">
					<div style="float:left; width: 140px">
						<div id="change_image" date-type="person" data-target="{{ path('com_platform_person_change_image_popup', {'person_id': user.person.id})}}" style=" width: 120px;height:120px;cursor:pointer">
							{# twig extension #}
							{% set personimage=getPersonimage(user.person) %}										
							<img id="person_image" src="{{ personimage  | imagine_filter('120x120') }}" style="width:120px; height:120px;" />
						</div>
					</div>
					<div style="margin-left: 140px;">
						<table>
							<tr>
								<td style="padding:5px">Nom</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.name }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Prénom</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.firstname }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Sexe</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">
									{% if user.person.sex == 0 %}
										Homme
									{% else %}
										Femme
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="padding:5px">Date de naissance</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">
									{% if user.person.birthdate is not null %}
										{{ user.person.birthdate | date('d/m/Y') }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="padding:5px">Lieu de naissance</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.birthlocation }}</td>
							</tr>
							<tr>
								<td style="padding:5px">n&deg; CIN</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.cin }}</td>
							</tr>
							<tr>
								<td style="padding:5px">cin date</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">
									{% if user.person.cindate is not null %}
										{{ user.person.cindate  | date('d/m/Y')  }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="padding:5px">cin lieu</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.cinlocation }}</td>
							</tr>
							<tr>
								<td style="padding:5px">adresse</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.address }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Téléphone</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.phone }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Email</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ user.person.email }}</td>
							</tr>
							<tr>
								<td style="padding:5px"><span style="font-weight:bold">Nom d'utilisateur</span></td>
								<td style="padding:5px">:</td>
								<td style="padding:5px"><span style="font-weight:bold">{{ user.username }}</span></td>
							</tr>
						</table>
						<div>
							<a href="{{ path('com_user_edit', {'username': user.username}) }}" class="btn btn-flat btn-primary">Modifier</a>
							<a href="{{ path('com_user_edit_password', {'username': user.username}) }}" class="btn btn-flat btn-primary">Modifier le mot de passe</a>
						</div>
					</div>
					<div class="clear">
					</div>
                </div>
				
            </div>
          </div>
        </div>
      </div>
      
    </section>
	
{% endblock %}