<div class="image_item {{ classActive }}">
	<span class="delete_image" data-type="person" data-target="{{ path('com_platform_person_delete_image', {'person_id': person.id, 'personimage_id': image.id}) }}"><img src="{{ asset('asset/image/cross_icon.png') }}" alt="x" style="width:8px;height:8px;display:block;margin:auto"/></span>
	<img class="image_popup" data-type="person" data-target="{{ path('com_platform_person_select_image', {'person_id': person.id, 'personimage_id': image.id}) }}" src="{{ image.webPath | imagine_filter('120x120') }}" alt="" />
</div>