<div class="image_item {{ classActive }}">
	<span class="delete_image" data-type="product" data-target="{{ path('com_business_product_delete_image', {'product_id': product.id, 'productimage_id': image.id}) }}"><img src="{{ asset('asset/image/cross_icon.png') }}" alt="x" style="width:8px;height:8px;display:block;margin:auto"/></span>
	<img class="image_popup" data-type="product" data-target="{{ path('com_business_product_select_image', {'product_id': product.id, 'productimage_id': image.id}) }}" src="{{ image.webPath | imagine_filter('120x120') }}" alt="" />
</div>