 {% extends "COMBusinessBundle::business.html.twig" %}

{% block title %}
	Aperçu {{ product.name }}
{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}
 <section class="content-header">
      <h1>
        {{ product.name }}
      </h1>
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
				<li class="active"><a href="#list_tab" data-toggle="tab">Détails</a></li>
				<li><a href="#stockin_tab" data-toggle="tab">Entrée en stock</a></li>
				<li><a href="#stockout_tab" data-toggle="tab">Vente</a></li>
				<li class="pull-right"><a href="{{ path('com_business_home') }}" class="btn btn-flat btn-danger"> Liste des articles</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="list_tab">
					<div style="float:left; width: 140px">
						<div id="change_image" date-type="product" data-target="{{ path('com_business_product_change_image_popup', {'product_id': product.id})}}" style="width: 120px;height:120px;cursor:pointer">
							{# twig extension #}
							{% set productimage=getProductimage(product) %}										
							<img id="product_image" src="{{ productimage  | imagine_filter('120x120') }}" style="width:120px; height:120px;" />
						</div>
					</div>
					<div style="margin-left: 140px;">
						<table>
							<tr>
								<td style="padding:5px">Désignation</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ product.name }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Référence</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ product.reference }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Catégorie</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ product.category.name }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Marque</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">
									{% if product.brand is not null %}
										{{ product.brand.name }}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="padding:5px">Description</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ product.description }}</td>
							</tr>
							<tr>
								<td style="padding:5px">Entrée en stock</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ qteStockin }} ({{ formatAmount(priceStockin) }} Ar)</td>
							</tr>
							<tr>
								<td style="padding:5px">Vente</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">{{ qteStockout }} ({{ formatAmount(priceStockout) }} Ar)</td>
							</tr>
							<tr>
								<td style="padding:5px">Quantité en stock</td>
								<td style="padding:5px">:</td>
								<td style="padding:5px">
									{{ qteStock }} 
									{% if qteStock > product.quantityalert %}
										<span class="greenpastille"></span>
									{% else %}
										<span class="redpastille"></span>
									{% endif %}
								</td>
							</tr>
						</table>
						<div>
							<a href="{{ path('com_business_edit_product', {'product_id': product.id}) }}" class="btn btn-flat btn-primary">Modifier</a>
						</div>
					</div>
					<div class="clear">
					</div>
                </div>

                <div class="tab-pane" id="stockin_tab">   
                    <div class="box-body">
                      <table class="datatable table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width: 30px">Id</th>
                            <th style="width: 40px">Image</th>
                            <th>Article</th>
                            <th>Date entrée</th>
                            <th>Prix d'achat unitaire (Ar)</th>
                            <th>Quantité</th>
                            <th>Prix total (Ar)</th>
                            <th>Description</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
						
						
						{% for stock in stockins %}
							{% if stock.product.deleted == false %}
								<tr>
									<td>{{ stock.id }}</td>
									<td>
										<span style="display:block; width:40px;height:40px; margin:5px">
											{# twig extension #}
											{% set productimage=getProductimage(stock.product) %}										
											<img src="{{ productimage  | imagine_filter('40x40') }}" style="width:40px; height:40px;" />
										</span>
									</td>
									<td>
										<a href="{{ path('com_business_view_product', {'product_id': stock.product.id}) }}">{{ stock.product.name }}</a>
									</td>
									<td>{{ stock.date  | date('d/m/Y')  }}</td>
									<td>{{ formatAmount(stock.price) }}</td>
									<td>{{ stock.quantity }}</td>
									<td>{{ formatAmount(stock.price * stock.quantity) }}</td>
									<td title="{{ stock.description }}">{{ substrSpace(stock.description, 30) }}</td>
									<td class="actions">
										<a href="{{ path('com_business_view_stock', {'stock_id': stock.id}) }}" class="btn btn-flat btn-success btn-xs" title="afficher"><i class="fa fa-eye"></i></a>
										<a href="{{ path('com_business_edit_stock', {'stock_id': stock.id}) }}" class="btn btn-flat btn-primary btn-xs" title="modifier"><i class="fa fa-pencil-square"></i></a>
										<span data-target="{{ path('com_business_delete_stock', {'stock_id': stock.id}) }}" data-label="Voulez vous effectuer la suppression de la ligne stock pour l'article &quot;{{ stock.product.name}}&quot;?" data-id="{{ stock.id}}" class="btn_delete_popup btn btn-flat btn-danger btn-xs" title="supprimer la ligne stock pour l'article : {{ stock.product.name}}"><i class="fa fa-times"></i></span>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
						
                        </tbody>
                      </table>
                    </div>
                </div>

                <div class="tab-pane" id="stockout_tab">   
                    <div class="box-body">
                      <table class="datatable table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width: 30px">Id</th>
                            <th style="width: 40px">Image</th>
                            <th>Article</th>
                            <th>Date de vente</th>
                            <th>Prix de vente unitaire(Ar)</th>
                            <th>Quantité</th>
                            <th>Prix total (Ar)</th>
                            <th>Description</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
						
						
						{% for stock in stockouts %}
							<tr>
								<td>{{ stock.id }}</td>
								<td>
									<span style="display:block; width:40px;height:40px; margin:5px">
										{# twig extension #}
										{% set productimage=getProductimage(stock.product) %}										
										<img src="{{ productimage  | imagine_filter('40x40') }}" style="width:40px; height:40px;" />
									</span>
								</td>
								<td>
									<a href="{{ path('com_business_view_product', {'product_id': stock.product.id}) }}">{{ stock.product.name }}</a>
								</td>
								<td>{{ stock.date  | date('d/m/Y')  }}</td>
								<td>{{ formatAmount(stock.price) }}</td>
								<td>{{ stock.quantity }}</td>
								<td>{{ formatAmount(stock.price * stock.quantity) }}</td>
								<td title="{{ stock.description }}">{{ substrSpace(stock.description, 30) }}</td>
								<td class="actions">
									<a href="{{ path('com_business_view_stock', {'stock_id': stock.id}) }}" class="btn btn-flat btn-success btn-xs" title="afficher"><i class="fa fa-eye"></i></a>
									<a href="{{ path('com_business_edit_stock', {'stock_id': stock.id}) }}" class="btn btn-flat btn-primary btn-xs" title="modifier"><i class="fa fa-pencil-square"></i></a>
									<span data-target="{{ path('com_business_delete_stock', {'stock_id': stock.id}) }}" data-label="Voulez vous effectuer la suppression de la ligne stock pour l'article &quot;{{ stock.product.name}}&quot;?" data-id="{{ stock.id}}" class="btn_delete_popup btn btn-flat btn-danger btn-xs" title="supprimer la ligne stock pour l'article : {{ stock.product.name}}"><i class="fa fa-times"></i></span>
								</td>
							</tr>
						{% endfor %}
						
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
	
{% endblock %}