{% extends "COMTrainingBundle::training.html.twig" %}

{% block title %}Formation - Etudiants{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}

    <section class="content-header">
      <h1>
        Liste des étudiants
      </h1>
	
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#list_tab" data-toggle="tab">Liste</a></li>
			  <li class="pull-right"><a href="{{ path('com_training_add_student') }}" class="btn btn-flat btn-danger"> Ajouter</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="list_tab"> 	
                    <div class="box-body">
                      <table class="datatable table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th style="width:60px">Id</th>
                            <th style="width:60px">Image</th>
                            <th>Nom/Prénom</th>
                            <th>Matricule</th>
                            <th>téléphone</th>
                            <th>Frais à regler (Ar)</th>
                            <th style="max-width: 110px">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
						
						{% for student in students %}
							<tr>
								<td>{{ student.id }}</td>
								<td>
									{# twig extension #}
									{% set personimage=getPersonimage(student.person) %}										
									<img src="{{ personimage  | imagine_filter('40x40') }}" style="width:40px; height:40px;" />
								</td>
								<td>{{ student.person.name }} {{ student.person.firstname }}</td>
								<td>{{ student.matricule }}</td>
								<td>{{ student.person.phone }}</td>
								<td style="text-align:right">
									{% set sumRestFee=getSumRestFee(student) %}
									{% if sumRestFee <= 0 %}
										<span style="color:#090">{{ formatAmount(sumRestFee) }}</span>
									{% else %}
										<span>{{ formatAmount(sumRestFee) }}</span>
									{% endif %}
								</td>
								<td class="actions">
									<a href="{{ path('com_training_view_student', {'student_id': student.id}) }}" class="btn btn-flat btn-success btn-xs" title="afficher"><i class="fa fa-eye"></i></a>
									<a href="{{ path('com_training_edit_student', {'student_id': student.id}) }}" class="btn btn-flat btn-primary btn-xs" title="modifier"><i class="fa fa-pencil-square"></i></a>
									<span data-target="{{ path('com_training_delete_student', {'student_id': student.id}) }}" data-label="Voulez vous effectuer la suppression de &quot;{{ student.person.name}}&quot; dans la liste des étudiants?" data-id="{{ student.id}}" class="btn_delete_popup btn btn-flat btn-danger btn-xs" title="suppression de {{ student.person.name}} dans la liste des étudiants"><i class="fa fa-times"></i></span>
								</td>
							</tr>
						{% endfor %}
                        
                        </tbody>
                        <tfoot>
                          <tr>
                            <th style="width:60px">Id</th>
                            <th style="width:60px">Image</th>
                            <th>Nom/Prénom</th>
                            <th>Matricule</th>
                            <th>téléphone</th>
                            <th>Frais à regler (Ar)</th>
                            <th style="max-width: 110px">Actions</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
{% endblock %}