{% extends "COMBusinessBundle::business.html.twig" %}

{% block title %}Marques{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}
    <section class="content-header">
      <h1>
		Marques
      </h1>
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#list_tab" data-toggle="tab">Liste</a></li>
			  <li class="pull-right"><a href="{{ path('com_business_add_brand') }}" class="btn btn-flat btn-danger"> Ajouter</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="list_tab">    		
                    <div class="box-body">
                      <table class="datatable table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Désignation</th>
                            <th>Description</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
						
						{% for brand in brands %}
							<tr>
								<td>{{ brand.id }}</td>
								<td>{{ brand.name }}</td>
								<td title="{{ brand.description }}">{{ substrSpace(brand.description, 30) }}</td>
								<td class="actions">
									<a href="{{ path('com_business_view_brand', {'brand_id': brand.id}) }}" class="btn btn-flat btn-success btn-xs" title="afficher"><i class="fa fa-eye"></i></a>
									<a href="{{ path('com_business_edit_brand', {'brand_id': brand.id}) }}" class="btn btn-flat btn-primary btn-xs" title="modifier"><i class="fa fa-pencil-square"></i></a>
									<span data-target="{{ path('com_business_delete_brand', {'brand_id': brand.id}) }}" data-label="Voulez vous effectuer la suppression de la marque &quot;{{ brand.name}}&quot;?" data-id="{{ brand.id}}" class="btn_delete_popup btn btn-flat btn-danger btn-xs" title="supprimer la marque : {{ brand.name}}"><i class="fa fa-times"></i></span>
								</td>
							</tr>
						{% endfor %}
						
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
{% endblock %}