<div style="background:#fff;">	
	<div style="background:#fff; padding: 5px;border-bottom:1px solid #ddd; min-height: 34px">
		<div style="float:left; font-weight:bold">
			Modification de l'image de la personne : {{ person.name }}
		</div>
		<div style="float:right;cursor: pointer; " class="button_closable">
			<img src="{{ asset('asset/image/close_icon.png') }}" style="width:16px; height:auto" alt="x" />
		</div>
	</div>
	
	<div style="background:#fff; padding: 5px; ">
		<div style="padding:5px">
			{% set classDefault = '' %}
			{% if current is null %}
				{% set classDefault = 'active' %}
			{% endif %}
			
			{% if person.sex == '0' %}
				{% set imageDefaultPath = 'default/image/person/defaultman.png' %}
			{% elseif person.sex == '1' %}
				{% set imageDefaultPath = 'default/image/person/defaultwoman.png' %}
			{% else %}
				{% set imageDefaultPath = 'default/image/person/default.png' %}
			{% endif %}
			<div id="images_wrapper"><!--
				--><div class="image_item {{ classDefault }}" id="default_image">
						<img class="image_popup default" data-type="person" data-target="{{ path('com_platform_person_select_image', {'person_id': person.id, 'personimage_id': 0}) }}" src="{{ imageDefaultPath | imagine_filter('120x120') }}" alt="" />
					</div><!--
				{% for image in images %}
					{% set classActive = '' %}
					{% if image.current %}
						{% set classActive = 'active' %}
					{% endif %}
					-->{{ include("COMPlatformBundle:platform:include/personimage_item.html.twig") }}<!--
				{% endfor %}
			--></div>
		</div>
	</div>
	<div style="border-top:1px solid #ddd;padding:10px; text-align:center">
		<label for="imagefile" style="cursor:pointer">télécharger une image ...</label>
		<input style="display: none" data-type="person" id="imagefile" name="file" class="ajax_image" type="file" accept="image/*" data-target="{{ path('com_platform_person_upload_image', {'person_id': person.id}) }}" />
	</div>
	<div style="border-top:1px solid #ddd;padding:10px; text-align:center">
		<img src="{{ asset('asset/image/info_icon.png') }}" style="width:20px; height:20px; display: inline-block; vertical-align: middle" alt="i" /> Cliquer sur une image ou télécharger un nouveau pour changer l'image de la personne.
	</div>
</div>